.container {
  height: auto;
  background-color: rgba(0, 0, 0, 0.955);
}

.portfolio-container {
  transform: translateY(-15rem);
  margin: 0 8.75rem;
  display: flex;

  flex-direction: column;
}

.ports {
  display: flex;
  margin-bottom: 4rem;
}

.port-1,
.port-2,
.port-3 {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ffff;
}

.port-3 {
    border-right: 1px solid #fff;
}

.port-1 li,
.port-2 li,
.port-3 li {
  padding: 30px 1.625rem;
  border-bottom: 1px solid #fff;
}

.port-1 li:first-of-type,
.port-2 li:first-of-type {
  border-bottom: none;
}

.port-1 li:last-of-type {
  border-bottom: none;
  padding-bottom: 4rem;
}

.port-2 li:last-of-type {
  margin-bottom: -4.3rem;
  border-bottom: none;
}

.port-3 li:last-of-type {
    border-bottom: none;
    margin-bottom: -4.3rem;
}